@model InterfaceViewModel
@{
	ViewData["Title"] = "Index";

}



<div id="kt_app_content" class="app-content flex-column-fluid" style="margin-top: 3%;">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!-- Welcome Message -->
 
		<div class="row gy-5 g-xl-10">

			<div class="col-xl-6 mb-xl-10">

				<!--begin::Engage widget 10-->
				<div class="card card-flush h-md-100">
					<!--begin::Body-->
					<div class="card-body d-flex flex-column justify-content-between mt-9 bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0" style="background-position: 100% 50%; background-image:url('/metronic8/demo1/assets/media/stock/900x600/42.png')">
						<!--begin::Wrapper-->
						<div class="mb-10">
							<!--begin::Title-->
							<div class="fs-2hx fw-bold text-gray-800 text-center mb-13">
								<span class="me-2">
									We are glad to have you here! Explore and enjoy your experience.
									<br>
									<span class="position-relative d-inline-block text-danger">
										<a href="#" class="text-danger opacity-75-hover">SEGI Group</a>

										<!--begin::Separator-->
										<span class="position-absolute opacity-15 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span>
										<!--end::Separator-->
									</span>
								</span>
 							</div>
							<!--end::Title-->
			 
						</div>
						<!--begin::Wrapper-->
						<!--begin::Illustration-->
						<img class="mx-auto h-150px h-lg-200px  theme-light-show" src="/upgrade.svg" alt="">
						<img class="mx-auto h-150px h-lg-200px  theme-dark-show" src="/upgrade-dark.svg" alt="">
						<!--end::Illustration-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::Engage widget 10-->
			</div>
			<div class="col-xl-6 mb-xl-10">
				<!--begin::Lists Widget 19-->
				<div class="card card-flush h-xl-100">
					<!--begin::Heading-->
					<div class="card-header rounded bgi-no-repeat bgi-size-cover bgi-position-y-top bgi-position-x-center align-items-start h-250px" style="background-image:url('/top-green.png" data-theme="light">
						<!--begin::Title-->
						<h3 class="card-title align-items-start flex-column text-white pt-15">
							<span class="fw-bold fs-2x mb-3">Hello, SuperAdmin</span>
							<div class="fs-4 text-white">
								<span class="opacity-75">You have</span>
								<span class="position-relative d-inline-block">
									<a href="#" class="link-white opacity-75-hover fw-bold d-block mb-1">6 tasks</a>
									<!--begin::Separator-->
									<span class="position-absolute opacity-50 bottom-0 start-0 border-2 border-body border-bottom w-100"></span>
									<!--end::Separator-->
								</span>
								<span class="opacity-75">to Analytic</span>
							</div>
						</h3>
						<!--end::Title-->
						<!--begin::Toolbar-->
						<div class="card-toolbar pt-5">
							<!--begin::Menu-->
							<button class="btn btn-sm btn-icon btn-active-color-primary btn-color-white bg-white bg-opacity-25 bg-hover-opacity-100 bg-hover-white bg-active-opacity-25 w-20px h-20px" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-overflow="true">
								<!--begin::Svg Icon | path: icons/duotune/general/gen052.svg-->
								<span class="svg-icon svg-icon-4">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor"></rect>
										<rect x="17" y="10" width="4" height="4" rx="2" fill="currentColor"></rect>
										<rect x="3" y="10" width="4" height="4" rx="2" fill="currentColor"></rect>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</button>

							<!--end::Menu-->
						</div>
						<!--end::Toolbar-->
					</div>
					<!--end::Heading-->
					<!--begin::Body-->
					<div class="card-body mt-n20">
						<!--begin::Stats-->
						<div class="mt-n20 position-relative">
							<!--begin::Row-->
							<div class="row g-3 g-lg-6">
								<!--begin::Col-->
								<div class="col-6">
									<!--begin::Items-->
									<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
										<!--begin::Symbol-->
										<div class="symbol symbol-30px me-5 mb-8">
											<span class="symbol-label">
												<!--begin::Svg Icon | path: icons/duotune/medicine/med005.svg-->
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Shopping/Credit-card.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<defs></defs>
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"></rect>
															<rect fill="currentColor" opacity="0.3" x="2" y="5" width="20" height="14" rx="2"></rect>
															<rect fill="currentColor" x="2" y="8" width="20" height="3"></rect>
															<rect fill="currentColor" opacity="0.3" x="16" y="14" width="4" height="2" rx="1"></rect>
														</g>
													</svg><!--end::Svg Icon-->
												</span>
												<!--end::Svg Icon-->
											</span>
										</div>
										<!--end::Symbol-->
										<!--begin::Stats-->
										<div class="m-0">
											<div class="row">
												<div class="col-4">
													<!--begin::Number-->
													<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@(Model?.CountCareers)</span>
													<!--end::Number-->
													<!--begin::Desc-->
													<span class="text-gray-500 fw-semibold fs-6">Career</span>
												</div>
												<div class="col-4">
													<!--begin::Number-->
													<span class="  fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1" style="color: rgb(163 230 53);">@(Model?.CountCareersActive)</span>
													<!--end::Number-->
													<!--begin::Desc-->
													<span class=" fw-semibold fs-6" style="color: rgb(163 230 53);">Open</span>
												</div>
												<div class="col-4">
													<!--begin::Number-->
													<span class="fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1" style="color: rgb(239 68 68);"> @(Model?.CountCareersNotActive)</span>
													<!--end::Number-->
													<!--begin::Desc-->
													<span class="fw-semibold fs-6" style="color: rgb(239 68 68);">Closed</span>
												</div>

											</div>

											<!--end::Desc-->
										</div>
										<!--end::Stats-->
									</div>
									<!--end::Items-->
								</div>
								<!--end::Col-->
								<div class="col-6">
									<!--begin::Items-->
									<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
										<!--begin::Symbol-->
										<div class="symbol symbol-30px me-5 mb-8">
											<span class="symbol-label">
												<!--begin::Svg Icon | path: icons/duotune/general/gen013.svg-->
												<span class="svg-icon svg-icon-1 svg-icon-primary">
													<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Communication/Group.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<defs></defs>
														<g stroke="none" stroke-width="1" fill="none">
															<polygon points="0 0 24 0 24 24 0 24"></polygon>
															<path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="currentColor" fill-rule="nonzero" opacity="0.3"></path>
															<path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="currentColor" fill-rule="nonzero"></path>
														</g>
													</svg><!--end::Svg Icon-->
												</span>
												<!--end::Svg Icon-->
											</span>
										</div>
										<!--end::Symbol-->
										<div class="m-0">
											<div class="row">
												<div class="col-4">
													<!--begin::Number-->
													<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@(Model?.CountUsers)</span>
													<!--end::Number-->
													<!--begin::Desc-->
													<span class="text-gray-500 fw-semibold fs-6">Users</span>
												</div>
												<div class="col-4">
													<!--begin::Number-->
													<span class="  fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1" style="color: rgb(163 230 53);">@(Model?.CountUsersActive)</span>
													<!--end::Number-->
													<!--begin::Desc-->
													<span class=" fw-semibold fs-6" style="color: rgb(163 230 53);">Active</span>
												</div>
												<div class="col-4">
													<!--begin::Number-->
													<span class="fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1" style="color: rgb(239 68 68);"> @(Model?.CountUsersNotActive)</span>
													<!--end::Number-->
													<!--begin::Desc-->
													<span class="fw-semibold fs-6" style="color: rgb(239 68 68);">locked</span>
												</div>

											</div>

											<!--end::Desc-->
										</div>
									</div>
									<!--end::Items-->
								</div>

								<!--begin::Col-->
								<div class="col-6">
									<!--begin::Items-->
									<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
										<!--begin::Symbol-->
										<div class="symbol symbol-30px me-5 mb-8">
											<span class="symbol-label">
												<!--begin::Svg Icon | path: icons/duotune/finance/fin001.svg-->
												<span class="svg-icon svg-icon-1 svg-icon-primary">
													<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/General/Attachment1.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<defs></defs>
														<g stroke="none" stroke-width="1" fill="none">
															<rect x="0" y="0" width="24" height="24"></rect>
															<path d="M12.4644661,14.5355339 L9.46446609,14.5355339 C8.91218134,14.5355339 8.46446609,14.9832492 8.46446609,15.5355339 C8.46446609,16.0878187 8.91218134,16.5355339 9.46446609,16.5355339 L12.4644661,16.5355339 L12.4644661,17.5355339 C12.4644661,18.6401034 11.5690356,19.5355339 10.4644661,19.5355339 L6.46446609,19.5355339 C5.35989659,19.5355339 4.46446609,18.6401034 4.46446609,17.5355339 L4.46446609,13.5355339 C4.46446609,12.4309644 5.35989659,11.5355339 6.46446609,11.5355339 L10.4644661,11.5355339 C11.5690356,11.5355339 12.4644661,12.4309644 12.4644661,13.5355339 L12.4644661,14.5355339 Z" fill="currentColor" opacity="0.3" transform="translate(8.464466, 15.535534) rotate(-45.000000) translate(-8.464466, -15.535534) "></path>
															<path d="M11.5355339,9.46446609 L14.5355339,9.46446609 C15.0878187,9.46446609 15.5355339,9.01675084 15.5355339,8.46446609 C15.5355339,7.91218134 15.0878187,7.46446609 14.5355339,7.46446609 L11.5355339,7.46446609 L11.5355339,6.46446609 C11.5355339,5.35989659 12.4309644,4.46446609 13.5355339,4.46446609 L17.5355339,4.46446609 C18.6401034,4.46446609 19.5355339,5.35989659 19.5355339,6.46446609 L19.5355339,10.4644661 C19.5355339,11.5690356 18.6401034,12.4644661 17.5355339,12.4644661 L13.5355339,12.4644661 C12.4309644,12.4644661 11.5355339,11.5690356 11.5355339,10.4644661 L11.5355339,9.46446609 Z" fill="currentColor" transform="translate(15.535534, 8.464466) rotate(-45.000000) translate(-15.535534, -8.464466) "></path>
														</g>
													</svg><!--end::Svg Icon-->
												</span>
											</span>
										</div>
										<!--end::Symbol-->
										<!--begin::Stats-->
										<div class="m-0">
											<!--begin::Number-->
											<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@(Model?.CountProjects)</span>
											<!--end::Number-->
											<!--begin::Desc-->
											<span class="text-gray-500 fw-semibold fs-6">Projects</span>
											<!--end::Desc-->
										</div>
										<!--end::Stats-->
									</div>
									<!--end::Items-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-6">
									<!--begin::Items-->
									<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
										<!--begin::Symbol-->
										<div class="symbol symbol-30px me-5 mb-8">
											<span class="symbol-label">
												<!--begin::Svg Icon | path: icons/duotune/general/gen020.svg-->
												<span class="svg-icon svg-icon-primary svg-icon-2x">
													<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/General/Attachment2.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<defs></defs>
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"></rect>
															<path d="M11.7573593,15.2426407 L8.75735931,15.2426407 C8.20507456,15.2426407 7.75735931,15.6903559 7.75735931,16.2426407 C7.75735931,16.7949254 8.20507456,17.2426407 8.75735931,17.2426407 L11.7573593,17.2426407 L11.7573593,18.2426407 C11.7573593,19.3472102 10.8619288,20.2426407 9.75735931,20.2426407 L5.75735931,20.2426407 C4.65278981,20.2426407 3.75735931,19.3472102 3.75735931,18.2426407 L3.75735931,14.2426407 C3.75735931,13.1380712 4.65278981,12.2426407 5.75735931,12.2426407 L9.75735931,12.2426407 C10.8619288,12.2426407 11.7573593,13.1380712 11.7573593,14.2426407 L11.7573593,15.2426407 Z" fill="currentColor" opacity="0.3" transform="translate(7.757359, 16.242641) rotate(-45.000000) translate(-7.757359, -16.242641) "></path>
															<path d="M12.2426407,8.75735931 L15.2426407,8.75735931 C15.7949254,8.75735931 16.2426407,8.30964406 16.2426407,7.75735931 C16.2426407,7.20507456 15.7949254,6.75735931 15.2426407,6.75735931 L12.2426407,6.75735931 L12.2426407,5.75735931 C12.2426407,4.65278981 13.1380712,3.75735931 14.2426407,3.75735931 L18.2426407,3.75735931 C19.3472102,3.75735931 20.2426407,4.65278981 20.2426407,5.75735931 L20.2426407,9.75735931 C20.2426407,10.8619288 19.3472102,11.7573593 18.2426407,11.7573593 L14.2426407,11.7573593 C13.1380712,11.7573593 12.2426407,10.8619288 12.2426407,9.75735931 L12.2426407,8.75735931 Z" fill="currentColor" transform="translate(16.242641, 7.757359) rotate(-45.000000) translate(-16.242641, -7.757359) "></path>
															<path d="M5.89339828,3.42893219 C6.44568303,3.42893219 6.89339828,3.87664744 6.89339828,4.42893219 L6.89339828,6.42893219 C6.89339828,6.98121694 6.44568303,7.42893219 5.89339828,7.42893219 C5.34111353,7.42893219 4.89339828,6.98121694 4.89339828,6.42893219 L4.89339828,4.42893219 C4.89339828,3.87664744 5.34111353,3.42893219 5.89339828,3.42893219 Z M11.4289322,5.13603897 C11.8194565,5.52656326 11.8194565,6.15972824 11.4289322,6.55025253 L10.0147186,7.96446609 C9.62419433,8.35499039 8.99102936,8.35499039 8.60050506,7.96446609 C8.20998077,7.5739418 8.20998077,6.94077682 8.60050506,6.55025253 L10.0147186,5.13603897 C10.4052429,4.74551468 11.0384079,4.74551468 11.4289322,5.13603897 Z M0.600505063,5.13603897 C0.991029355,4.74551468 1.62419433,4.74551468 2.01471863,5.13603897 L3.42893219,6.55025253 C3.81945648,6.94077682 3.81945648,7.5739418 3.42893219,7.96446609 C3.0384079,8.35499039 2.40524292,8.35499039 2.01471863,7.96446609 L0.600505063,6.55025253 C0.209980772,6.15972824 0.209980772,5.52656326 0.600505063,5.13603897 Z" fill="currentColor" opacity="0.3" transform="translate(6.014719, 5.843146) rotate(-45.000000) translate(-6.014719, -5.843146) "></path>
															<path d="M17.9142136,15.4497475 C18.4664983,15.4497475 18.9142136,15.8974627 18.9142136,16.4497475 L18.9142136,18.4497475 C18.9142136,19.0020322 18.4664983,19.4497475 17.9142136,19.4497475 C17.3619288,19.4497475 16.9142136,19.0020322 16.9142136,18.4497475 L16.9142136,16.4497475 C16.9142136,15.8974627 17.3619288,15.4497475 17.9142136,15.4497475 Z M23.4497475,17.1568542 C23.8402718,17.5473785 23.8402718,18.1805435 23.4497475,18.5710678 L22.0355339,19.9852814 C21.6450096,20.3758057 21.0118446,20.3758057 20.6213203,19.9852814 C20.2307961,19.5947571 20.2307961,18.9615921 20.6213203,18.5710678 L22.0355339,17.1568542 C22.4260582,16.76633 23.0592232,16.76633 23.4497475,17.1568542 Z M12.6213203,17.1568542 C13.0118446,16.76633 13.6450096,16.76633 14.0355339,17.1568542 L15.4497475,18.5710678 C15.8402718,18.9615921 15.8402718,19.5947571 15.4497475,19.9852814 C15.0592232,20.3758057 14.4260582,20.3758057 14.0355339,19.9852814 L12.6213203,18.5710678 C12.2307961,18.1805435 12.2307961,17.5473785 12.6213203,17.1568542 Z" fill="currentColor" opacity="0.3" transform="translate(18.035534, 17.863961) scale(1, -1) rotate(45.000000) translate(-18.035534, -17.863961) "></path>
														</g>
													</svg><!--end::Svg Icon-->
												</span>
												<!--end::Svg Icon-->
											</span>
										</div>
										<!--end::Symbol-->
										<!--begin::Stats-->
										<div class="m-0">
											<!--begin::Number-->
											<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@(Model?.CountNews)</span>
											<!--end::Number-->
											<!--begin::Desc-->
											<span class="text-gray-500 fw-semibold fs-6">News</span>
											<!--end::Desc-->
										</div>
										<!--end::Stats-->
									</div>
									<!--end::Items-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-6">
									<!--begin::Items-->
									<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
										<!--begin::Symbol-->
										<div class="symbol symbol-30px me-5 mb-8">
											<span class="symbol-label">
												<!--begin::Svg Icon | path: icons/duotune/general/gen013.svg-->
												<span class="svg-icon svg-icon-1 svg-icon-primary">
													<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Files/Selected-file.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<defs></defs>
														<g stroke="none" stroke-width="1" fill="none">
															<polygon points="0 0 24 0 24 24 0 24"></polygon>
															<path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="currentColor" fill-rule="nonzero" opacity="0.3"></path>
															<path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="currentColor" fill-rule="nonzero"></path>
														</g>
													</svg><!--end::Svg Icon-->
												</span>
												<!--end::Svg Icon-->
											</span>
										</div>
										<!--end::Symbol-->
										<!--begin::Stats-->
										<div class="m-0">
											<!--begin::Number-->
											<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@(Model?.CountSectors)</span>
											<!--end::Number-->
											<!--begin::Desc-->
											<span class="text-gray-500 fw-semibold fs-6">Sectors</span>
											<!--end::Desc-->
										</div>
										<!--end::Stats-->
									</div>
									<!--end::Items-->
								</div>
								<!--end::Col-->
								<!--end::Col-->
								<div class="col-6">
									<!--begin::Items-->
									<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
										<!--begin::Symbol-->
										<div class="symbol symbol-30px me-5 mb-8">
											<span class="symbol-label">
												<!--begin::Svg Icon | path: icons/duotune/general/gen013.svg-->
												<span class="svg-icon svg-icon-1 svg-icon-primary">
													<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Shopping/Loader.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<defs></defs>
														<g stroke="none" stroke-width="1" fill="none">
															<rect x="0" y="0" width="24" height="24"></rect>
															<path d="M8,4 C8.55228475,4 9,4.44771525 9,5 L9,17 L18,17 C18.5522847,17 19,17.4477153 19,18 C19,18.5522847 18.5522847,19 18,19 L9,19 C8.44771525,19 8,18.5522847 8,18 C7.44771525,18 7,17.5522847 7,17 L7,6 L5,6 C4.44771525,6 4,5.55228475 4,5 C4,4.44771525 4.44771525,4 5,4 L8,4 Z" fill="currentColor" opacity="0.3"></path>
															<rect fill="currentColor" opacity="0.3" x="11" y="7" width="8" height="8" rx="4"></rect>
															<circle fill="currentColor" cx="8" cy="18" r="3"></circle>
														</g>
													</svg><!--end::Svg Icon-->
												</span>
												<!--end::Svg Icon-->
											</span>
										</div>
										<!--end::Symbol-->
										<!--begin::Stats-->
										<div class="m-0">
											<!--begin::Number-->
											<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@(Model?.CountServices)</span>
											<!--end::Number-->
											<!--begin::Desc-->
											<span class="text-gray-500 fw-semibold fs-6">Services</span>
											<!--end::Desc-->
										</div>
										<!--end::Stats-->
									</div>
									<!--end::Items-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Row-->
						</div>
						<!--end::Stats-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::Lists Widget 19-->
			</div>
			<!--begin::Col-->
			<div class="col-xl-10 mb-5 mb-xl-10">
				<div class="card mb-5 mb-xl-10">
					<!--begin::Card header-->
					<div class="card-header">
						<!--begin::Heading-->
						<div class="card-title">
							<h3>Last Contact Us Messages</h3>
						</div>
						<!--end::Heading-->
						<!--begin::Toolbar-->
						<div class="card-toolbar">
							<div class="my-1 me-4">
								<!--begin::Select-->
								<!--end::Select-->
							</div>
							<a href="/ControlPanel/AdminContactUs/Index" class="btn btn-sm btn-primary my-1">View All</a>
						</div>
						<!--end::Toolbar-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body p-0">
						<!--begin::Table wrapper-->
						<div class="table-responsive">
							<!--begin::Table-->
							<table class="table table-flush align-middle table-row-bordered table-row-solid gy-4 gs-9">
								<!--begin::Thead-->
								<thead class="border-gray-200 fs-5 fw-semibold bg-lighten">
									<tr>
										<th class="min-w-250px">Title</th>
										<th class="min-w-100px">Full Name</th>
										<th class="min-w-150px">Email</th>
										<th class="min-w-150px">Phone</th>
									</tr>
								</thead>
								<!--end::Thead-->
								<!--begin::Tbody-->
								<tbody class="fw-6 fw-semibold text-gray-600">

									@if (Model?.ContactUs != null && Model.ContactUs.Any())
									{
										foreach (var contact in Model.ContactUs.OrderByDescending(x=>x.CreatedAt).Take(6))
										{
											<tr>
												<td>
													<a href="#" class="text-hover-primary text-gray-600"> @contact?.Title </a>
												</td>
												<td>
													<span class="badge badge-light-primary fs-7 fw-bold">@contact?.FullName</span>
												</td>


												<td>@contact?.Email</td>
												<td>@contact?.Phone</td>
											</tr>

										}
									
									}



								</tbody>
								<!--end::Tbody-->
							</table>
							<!--end::Table-->
						</div>
						<!--end::Table wrapper-->
					</div>
					<!--end::Card body-->
				</div>
			</div>
			<div class="col-xl-10 mb-5 mb-xl-10">
				<div class="card mb-5 mb-xl-10">
					<!--begin::Card header-->
					<div class="card-header">
						<!--begin::Heading-->
						<div class="card-title">
							<h3>Last Application Career Forms</h3>
						</div>
						<!--end::Heading-->
						<!--begin::Toolbar-->
						<div class="card-toolbar">
							<div class="my-1 me-4">
								<!--begin::Select-->
								<!--end::Select-->
							</div>
							<a href="/ControlPanel/AdminApplicationCareer/Index" class="btn btn-sm btn-primary my-1">View All</a>
						</div>
						<!--end::Toolbar-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body p-0">
						<!--begin::Table wrapper-->
						<div class="table-responsive">
							<!--begin::Table-->
							<table class="table table-flush align-middle table-row-bordered table-row-solid gy-4 gs-9">
								<!--begin::Thead-->
								<thead class="border-gray-200 fs-5 fw-semibold bg-lighten">
									<tr>
										<th class="min-w-250px">Position</th>
										<th class="min-w-100px">Industry</th>
										<th class="min-w-150px">Email</th>
										<th class="min-w-150px">Career</th>
									</tr>
								</thead>
								<!--end::Thead-->
								<!--begin::Tbody-->
								<tbody class="fw-6 fw-semibold text-gray-600">

									@if (Model?.ApplyCareerFormModels != null && Model.ApplyCareerFormModels.Any())
									{
										foreach (var contact in Model.ApplyCareerFormModels.OrderByDescending(x => x.CreatedAt).Take(6))
										{
											<tr>
												<td>
													<a href="#" class="text-hover-primary text-gray-600"> @contact?.PositionAppliedFor </a>
												</td>
												<td>
													<span class="badge badge-light-primary fs-7 fw-bold">@contact?.Industry</span>
												</td>


												<td>@contact?.Email</td>
												<td>@contact?.Career.Title</td>
											</tr>

										}

									}



								</tbody>
								<!--end::Tbody-->
							</table>
							<!--end::Table-->
						</div>
						<!--end::Table wrapper-->
					</div>
					<!--end::Card body-->
				</div>
			</div>
			<!--end::Col-->
		</div>



	</div>
</div>

<!-- Custom Styles -->
 

@section Scripts {
	<script src="~/Metronic/dist/assets/plugins/global/plugins.bundle.js"></script>
	<script src="~/Metronic/dist/assets/js/scripts.bundle.js"></script>

	<!--end::Scrolltop-->
	<!--end::Vendors Javascript-->
	<!--begin::Custom Javascript(used by this page)-->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Vendors Javascript(used by this page)-->
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
	<!--end::Vendors Javascript-->
	<!--begin::Custom Javascript(used by this page)-->
	<script src="~/Metronic/dist/assets/js/custom/customwidget.js"></script>



	<script src="~/Metronic/dist/assets/js/custom/apps/chat/chat.js"></script>
	<script src="~/Metronic/dist/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
	<script src="~/Metronic/dist/assets/js/custom/utilities/modals/create-app.js"></script>
	@* <script src="~/Metronic/dist/assets/js/custom/utilities/modals/new-target.js"></script> *@
	@* <script src="~/Metronic/dist/assets/js/custom/utilities/modals/users-search.js"></script> *@
	<script src="~/Metronic/dist/assets/js/custom/utilities/modals/new-social.js"></script>

	<!--end::Scrolltop-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="~/Metronic/src/js/fillterAndPagingUser.js"></script>
	<script src="~/Metronic/dist/assets/js/custom/apps/projects/list/list.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>





}
