<div class="card shadow-sm border-0 rounded-lg">
    <div class="row g-0">
        <!-- Left: Image section -->
 
        <!-- Right: Details section -->
        <div class="col-md-12">
            <div class="card-body">
                <h2 class="card-title text-dark">@Model.Title</h2>
                <h2 class="card-title text-dark">@Model.FullName</h2>
                <h2 class="card-title text-dark">@Model.Email</h2>
                <h2 class="card-title text-dark">@Model.Phone</h2>
                <h2 class="card-title text-dark">@Html.Raw(Model.Description)</h2>
             </div>
        </div>
    </div>
</div>
