@using SEGI.WEB.Core.Enums
@model InterfaceViewModel
@{
    ViewData["Title"] = "Projects";
    var media = "@media";
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    string pageUrl = $"{Context.Request.Scheme}://{Context.Request.Host}//Home/Projects";
    var rawDescription = Model?.Project?.Description ?? "SEGI ENGINEERING GROUP INTERNATIONAL";
    var plainTextDescription = Regex.Replace(rawDescription, "<.*?>", ""); // Removes all HTML tags
    ViewData["MetaDescription"] = plainTextDescription;
    ViewData["MetaTitle"] = (Model?.Project?.Title ?? "SEGI ENGINEERING GROUP INTERNATIONAL");
    ViewData["MetaImage"] = $"{Context.Request.Scheme}://{Context.Request.Host}//Files/Images/" + @Model?.Project?.Image;

    ViewData["MetaUrl"] = pageUrl;
}


<div x-data="{
search: false,
mobileMenu: false,
dropdown: false,
mobileDropdown: false,
}">
    <div class="fixed bottom-0 left-0 m-4 z-50" x-cloak>
        <a href="#"
           class="transition inline-flex items-center justify-center w-12 h-12 text-sm rounded-full bg-primary-600 text-white transform | hover:scale-90 | md:w-14 md:h-14"
           x-data="{ visible: false }"
           x-on:scroll.window="visible = window.scrollY >= window.innerHeight ? true : false"
           x-bind:class="visible ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'"
           x-on:click.prevent="window.scroll({ top: 0, left: 0, behavior: 'smooth' });"
           aria-label="Back to top">
            <i class="fas fa-arrow-up" aria-hidden="true"></i>
        </a>
    </div>
    <div class="absolute z-50 top-0 left-0 w-full bg-white" x-bind:class="{
'fixed' : mobileMenu,
'absolute' : !mobileMenu
}">
        <div class="w-full | md:w-11/12 | lg:w-11/12 | xl:w-11/12 | 2xl:w-11/12 | 3xl:w-9/12 mx-auto py-5 flex items-center justify-between | lg:py-8">
            <div class="flex items-center px-8 | lg:px-4" data-aos="fade-y--sm">
                <a href="~/Home/Index"
                   class="inline-block relative transform | hover:scale-90">
                    <img src="~/Files/Images/@Model?.FixedItem?.Logo_Dark" alt="Craft 3" class="h-8 w-auto | lg:h-24">
                </a>
                <div class="ml-7" x-show="!search">
                    <div class="relative text-primary delay-900" data-aos="fade-y--sm">
                    </div>
                </div>
            </div>
            <div class="flex items-center pr-8 transform -translate-y-1 | xl:hidden">
                <a href="#" class="text-xl text-primary"
                   x-on:click.prevent="mobileMenu = mobileMenu ? false : true" aria-label="Navigation">
                    <i class="fal fa-bar transform transition" aria-hidden="true" x-bind:class="{
'fa-bars rotate-0' : !mobileMenu,
'fa-times rotate-90' : mobileMenu
}"></i>
                </a>
            </div>
            <div class="flex items-center pr-8 transform -translate-y-1 | xl:hidden">
                <a href="#" class="text-xl text-primary"
                   x-on:click.prevent="mobileMenu = mobileMenu ? false : true" aria-label="Navigation">
                    <i class="fal fa-bar transform transition" aria-hidden="true" x-bind:class="{
'fa-bars rotate-0' : !mobileMenu,
'fa-times rotate-90' : mobileMenu
}"></i>
                </a>
            </div>
            <div class="px-8 | lg:px-4 items-center space-x-7 hidden | xl:inline-flex">
                <div class="relative delay-100" data-aos="fade-y--sm">
                    <a href="~/Home/Index" class="text-primary tracking-tight underlined"
                       style="color:#173C82">
                        <span>
                            Home
                        </span>

                    </a>

                </div>
                <div class="relative delay-200" data-aos="fade-y--sm">
                    <a href="~/Home/AboutUs" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            About Us
                        </span>

                    </a>

                </div>
                <div class="relative delay-200" data-aos="fade-y--sm">
                    <a href="~/Home/History" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            History
                        </span>

                    </a>

                </div>
                <div class="relative delay-300" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Sectors" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Sectors
                        </span>

                    </a>

                </div>
                <div class="relative delay-400" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Services" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Services
                        </span>

                    </a>

                </div>
                <div class="relative delay-500" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Projects" class="text-primary tracking-tight underlined underlined--visible"
                       style="color:#173C82">
                        <span>
                            Projects
                        </span>

                    </a>

                </div>
                <div class="relative delay-600" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Careers" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Careers
                        </span>

                    </a>

                </div>
                <div class="relative delay-700" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Sustinabilty" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Sustainability
                        </span>

                    </a>

                </div>
                <div class="relative delay-800" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/ContactUs" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Contact Us
                        </span>

                    </a>

                </div>
                <div class="relative delay-900" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/News" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            News
                        </span>
                    </a>
                </div>


            </div>
        </div>
    </div>

    <div class="fixed w-full h-full z-40 top-0 left-0 transition bg-primary flex items-center justify-center text-center opacity-0 pointer-events-none duration-500 | xl:hidden"
         x-cloak x-bind:class="{
'opacity-100 pointer-events-auto' : mobileMenu,
'opacity-0 pointer-events-none' : !mobileMenu
}">
        <div class="">
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-100" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Index" class="text-white text-xl underlined">
                    <span>
                        Home
                    </span>

                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-200" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/AboutUs" class="text-white text-xl underlined">
                    <span>
                        About Us
                    </span>

                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-200" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/History" class="text-white text-xl underlined">
                    <span>
                        History
                    </span>

                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-400" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Sectors" class="text-white text-xl underlined">
                    <span>
                        Sectors
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-500" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Services" class="text-white text-xl underlined">
                    <span>
                        Services
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-600" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Projects" class="text-white text-xl underlined">
                    <span>
                        Projects
                    </span>
                </a>
            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-700" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Careers" class="text-white text-xl underlined">
                    <span>
                        Careers
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-700" x-bind:class="{
                        'opacity-100 translate-y-0' : mobileMenu,
                        'opacity-0 translate-y-2' : !mobileMenu
                        }">
                <a href="~/Home/Sustinabilty" class="text-white text-xl underlined">
                    <span>
                        Sustainability
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-700" x-bind:class="{
                                                'opacity-100 translate-y-0' : mobileMenu,
                                                'opacity-0 translate-y-2' : !mobileMenu
                                                }">
                <a href="~/Home/ContactUs" class="text-white text-xl underlined">
                    <span>
                        Contact Us
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-700" x-bind:class="{
                                                                        'opacity-100 translate-y-0' : mobileMenu,
                                                                        'opacity-0 translate-y-2' : !mobileMenu
                                                                        }">
                <a href="~/Home/News" class="text-white text-xl underlined">
                    <span>
                        News
                    </span>
                </a>

            </div>
            </a>
        </div>
    </div>

    <div x-on:click="dropdown = false">
        <!-- Start / Content  -->
        <!-- Start/ Heading -->
       



        <!-- End/ Heading -->
        <!-- Start/ Heading -->
    <div class="w-full relative overflow-hidden bg-white py-0" id="hero">

    @if (Model?.Article != null && Model.Article.Any())
    {
        @foreach (var item in Model.Article.Where(x => x?.PageType == PageType.Project && x?.SectionId == 1))
        {
       

        
        <div class="w-full flex flex-wrap relative">
            <div class="absolute top-0 right-0 w-10/12 h-full z-10">
                <div class="absolute top-1/2 -translate-y-1/2 mt-14 transform right-0 w-full h-screen z-20 aos-init aos-animate"
                     data-aos="-scale">
                    <svg viewBox="0 0 805 1074" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="w-full h-full">
                        <path d="M422.693 536.417C421.977 535.967 421.251 535.505 420.535 535.055C381.812 559.321 341.115 580.517 298.619 598.494C213.002 634.702 123.105 656.533 30.5428 663.664V665.983C123.405 658.841 213.614 636.952 299.519 600.617C342.465 582.444 383.589 560.994 422.693 536.417Z"
                              fill="#10CFC9"></path>
                        <path d="M30.5426 663.653C20.3887 664.437 10.2116 665.037 0 665.464V667.772C10.2116 667.345 20.4002 666.745 30.5426 665.96V663.653Z"
                              fill="#10CFC9"></path>
                        <path d="M572.763 413.646C526.944 459.466 476.751 499.586 422.693 533.682C423.42 534.132 424.135 534.594 424.85 535.044C478.689 500.982 528.709 460.955 574.39 415.273C639.929 349.734 693.838 275.287 735.157 193.387V188.252C693.688 271.56 639.226 347.196 572.763 413.646Z"
                              fill="#10CFC9"></path>
                        <path d="M735.169 188.263V193.398C743.915 176.056 752.119 158.39 759.723 140.401C778.785 95.3317 793.866 49.062 804.931 1.85771V0H802.993C791.927 47.5389 776.789 94.1317 757.588 139.501C750.608 156.036 743.119 172.294 735.169 188.263Z"
                              fill="#10CFC9"></path>
                        <path d="M420.535 535.055C421.262 534.605 421.977 534.144 422.693 533.694C383.577 509.117 342.465 487.666 299.519 469.505C213.625 433.17 123.417 411.281 30.5428 404.139V406.458C123.094 413.589 213.002 435.42 298.619 471.628C341.115 489.593 381.8 510.778 420.535 535.055Z"
                              fill="#FFD040"></path>
                        <path d="M424.862 535.055C424.146 535.505 423.419 535.967 422.704 536.417C476.751 570.513 526.944 610.633 572.775 656.453C639.237 722.915 693.699 798.55 735.18 881.836V876.701C693.861 794.812 639.952 720.365 574.413 654.826C528.709 609.133 478.701 569.117 424.862 535.055Z"
                              fill="#FFD040"></path>
                        <path d="M30.5426 404.127C20.3887 403.342 10.2116 402.742 0 402.315V404.623C10.2116 405.05 20.4002 405.65 30.5426 406.435V404.127Z"
                              fill="#FFD040"></path>
                        <path d="M735.169 876.701V881.836C743.131 897.817 750.608 914.063 757.6 930.598C777.262 977.075 792.677 1024.82 803.812 1073.57H804.931V1068.24C793.866 1021.04 778.785 974.767 759.723 929.698C752.108 911.709 743.915 894.043 735.169 876.701Z"
                              fill="#FFD040"></path>
                        <path d="M422.693 536.417C423.42 535.967 424.135 535.505 424.85 535.055C424.135 534.605 423.408 534.144 422.693 533.694C421.977 534.144 421.25 534.605 420.535 535.055C421.25 535.505 421.977 535.967 422.693 536.417Z"
                              fill="#FFD040"></path>
                    </svg>
                </div>
                <div class="bg-secondary w-full h-full overflow-hidden">
                    <div class="w-full h-full aos-init aos-animate" data-aos="-scale">
    
                            <img src="~/Files/Images/@(item?.Image??"")"   class=" absolute top-0 left-0 w-full h-full object-cover object-center" >
                    
                    </div>
                </div>
            </div>
            <div class="w-11/12 mr-auto mt-32 mb-12 relative z-20 | lg:mt-48 lg:mb-20 lg:w-full max-w-5xl bg-white py-12 | lg:py-20">
                <div class="w-full px-8 | lg:ml-20">

                    <div class="w-full delay-100 aos-init aos-animate" data-aos="fade-y">
                        <div class="max-w-lg">
                            <h2 class="font-sans-primary text-2xl | lg:text-4xl text-black font-semibold leading-tighter tracking-tight
                " data-uw-rm-heading="level" role="heading" aria-level="1">
                                    @(item?.Title?? "")
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }

    }
    </div>
    <!-- End/ Heading -->
    <!-- Start/ Projects -->
    <div id="projects-616819">
        <div class="w-full  bg-white py-0 | lg:py-16 | xl:py-24">
            <div class="w-full | md:w-11/12 | lg:w-11/12 | xl:w-11/12 | 2xl:w-11/12 | 3xl:w-9/12 mx-auto"
                 x-data="{ active: false }">
                    <div class="px-8 | lg:px-4 w-full mt-8 aos-init aos-animate" data-aos="fade-y">
                        <div class="flex w-full items-center">
                            <form class="flex w-full space-y-4 flex-col | lg:space-y-0 lg:flex-row lg:space-x-4">
                                <div class="relative inline-flex flex-col flex-1">
                                    <label for="" class="w-full text-xxs font-medium mb-1 text-primary-500">
                                        Keywords
                                    </label>
                                    <input type="text" name="generalSearch" value="@Model?.Querys?.GeneralSearch"
                                           class="appearance-none w-full rounded relative z-10 text-primary border border-solid border-gray-300 p-3 pr-10 text-sm | hover:border-primary | focus:outline-none focus:shadow-outline"
                                           >
                                </div>
                                <div class="relative w-full flex flex-col flex-1">
                                    <label for="" class="w-full text-xxs font-medium mb-1 text-primary-500">
                                        Category
                                    </label>
                                    <div class="relative w-full">
                                        <select name="categoryId"
                                                class="appearance-none w-full rounded relative z-10 text-primary border border-solid border-gray-300 p-3 pr-10 text-sm | hover:border-primary | focus:outline-none focus:shadow-outline">
                                            <option value="" selected="@(Model.Querys?.categoryId == null ? "selected" : null)">Select an option</option>
                                            <option value="All" selected="@(Model.Querys?.categoryId == 0 ? "selected" : null)">All</option>

                                            @foreach (var category in Model.Categories)
                                            {
                                                <option value="@category.Id" selected="@(Model.Querys?.categoryId == category.Id ? "selected" : null)">
                                                    @category.Name
                                                </option>
                                            }
                                        </select>

                                        <span class="absolute border-gray-700 border-b-2 border-l-2 right-0 w-2 h-2 pointer-events-none top-1/2 transform -rotate-45 -translate-y-1/2 z-20 mr-4 -mt-0.5"></span>
                                    </div>
                                </div>
                                <div class="relative w-full flex flex-col flex-1">
                                    <label for="" class="w-full text-xxs font-medium mb-1 text-primary-500">
                                        Service
                                    </label>
                                    <div class="relative w-full">
                                        <select name="serviceId"
                                                class="appearance-none w-full rounded relative z-10 text-primary border border-solid border-gray-300 p-3 pr-10 text-sm | hover:border-primary | focus:outline-none focus:shadow-outline">
                                            <option value="" selected="@(Model.Querys?.serviceId == null ? "selected" : null)">Select an option</option>
                                            <option value="All" selected="@(Model.Querys?.serviceId == 0 ? "selected" : null)">All</option>

                                            @foreach (var service in Model.GeneralEngineeringServicesItems)
                                            {
                                                <option value="@service.Id" selected="@(Model.Querys?.serviceId == service.Id ? "selected" : null)">
                                                    @service.Title
                                                </option>
                                            }
                                        </select>

                                        <span class="absolute border-gray-700 border-b-2 border-l-2 right-0 w-2 h-2 pointer-events-none top-1/2 transform -rotate-45 -translate-y-1/2 z-20 mr-4 -mt-0.5"></span>
                                    </div>
                                </div>
                                <div class="flex items-end flex-shrink-0 relative">
                                    <button type="submit"
                                            class="w-full rounded px-12 py-3 border border-solid border-primary-500 bg-primary-500 text-white text-sm font-medium transition | hover:border-primary-400 hover:bg-primary-400">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="flex flex-wrap gap-2 pt-3"></div>
                    </div>

                    <div class="inline-flex flex-wrap w-full mt-10">
                        <div class="w-full relative z-10 flex flex-wrap">
                            @if (Model?.Projects != null && Model.Projects.Any())
                            {
                                @foreach (var item in Model.Projects)
                                {
                                    <div class="w-full px-8 lg:px-4 mb-8 relative z-10 sm:mb-16 sm:w-6/12 lg:w-4/12">
                                        <a href="/Home/Projects_Details/@item.Id" class="block relative w-full group overflow-hidden">
                                            <div class="bg-gradient-to-tl from-primary-500 to-primary-600 overflow-hidden">
                                                <div class="transition transform group-hover:scale-125 group-hover:opacity-50">
                                                    <div class="relative overflow-hidden w-full">
                                                        <img src="~/Files/Images/@(item?.Image??"")">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="relative bottom-0 left-0 px-5 pt-4 pb-4 flex items-end bg-white w-full transition transform duration-700 lg:group-hover:translate-y-4 lg:w-9/12 lg:absolute xl:px-8 xl:pt-4 xl:pb-8">
                                                <div class="relative z-10">
                                                    <div class="text-md tracking-tight leading-tight text-black mb-4 lg:text-xl xl:text-2xl">
                                                        @(item?.Title ?? "")   @(item?.Year ?? "")
                                                    </div>
                                                           <div class="w-full" style="display:flex">
                                                     @if (item.Categories?.Any() == true)
                                                    {
                                                        @string.Join(", ", item.Categories)
                                                    }
                                               
                                             </div>
                                                         <div class="w-full" style="display:flex">
                                                            @if (item.Services?.Any() == true)
                                                            {
                                                                @string.Join(", ", item.Services)
                                                            }

                                                     </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }

                            <!-- Pagination Controls -->
                            <div class="w-full space-x-2 flex flex-wrap justify-center items-center">
                                @if (currentPage > 1)
                                {
                                    <a href="?pageNumber=@(currentPage - 1)" class="w-10 h-10 rounded-full border border-solid bg-gray-100 border-gray-100 inline-flex items-center justify-center font-semibold text-sm transition duration-500 hover:bg-secondary-500 hover:text-white lg:w-12 lg:h-333">
                                        ←
                                    </a>
                                }

                                @for (int i = 1; i <= totalPages; i++)
                                {
                                    <a href="?pageNumber=@i" class="w-10 h-10 rounded-full border border-solid inline-flex items-center justify-center font-semibold text-sm transition duration-500 @(i == currentPage ? "bg-primary-500 text-white" : "hover:bg-secondary-500 hover:text-white") lg:w-12 lg:lg:h-333">
                                        @i
                                    </a>
                                }

                                @if (currentPage < totalPages)
                                {
                                    <a href="?pageNumber=@(currentPage + 1)" class="w-10 h-10 rounded-full border border-solid bg-gray-100 border-gray-100 inline-flex items-center justify-center font-semibold text-sm transition duration-500 hover:bg-secondary-500 hover:text-white lg:w-12 lg:lg:h-333">
                                        →
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- End/ Projects -->







    </div>
</div>